<form autocomplete="off" #editWardForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditWard" | localize }}</h1>
    <mat-dialog-content>
      <mat-tab-group>
        <mat-tab [label]="'GeneralInformation' | localize">
          <div class="row-fluid">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput name="name" [placeholder]="'name' | localize"
                  [(ngModel)]="ward.name" required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="englishName" [placeholder]="'englishName' | localize"
                  [(ngModel)]="ward.englishName" required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="wardType" [placeholder]="'wardType' | localize"
                  [(ngModel)]="ward.wardType" required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="districtId" [placeholder]="'districtId' | localize" [(ngModel)]="ward.districtId"
                  required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="districtName" [placeholder]="'districtName' | localize" [(ngModel)]="ward.districtName"
                  required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="provinceId" [placeholder]="'provinceId' | localize" [(ngModel)]="ward.provinceId"
                  required minlength="2" maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                <input matInput name="provinceName" [placeholder]="'provinceName' | localize" [(ngModel)]="ward.provinceName"
                  required minlength="2" maxlength="32" />
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancel" | localize }}
      </button>
      <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editWardForm.form.valid || saving">
        {{ "Save" | localize }}
      </button>
    </div>
  </form>